body{
    background-color: rgb(81, 81, 200);
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: white;
}
nav{
    display: flex;
    flex-direction: row;
    background-color: rgb(241, 223, 223);
    padding: 15px;
    padding-left: 100px;
    padding-right: 100px;
    margin-inline: -100px;
    margin-top: -10px;
    justify-content: space-around;
}
#Me{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 400px;
    width: 800px;

}
.text{
    display: flex;
    flex-direction: column-reverse;
}
#cato{
    width: 400px;
}
#insta{
    height: 40px;
    width: 40px;
}
#home{
    display: flex;
    background-color: rgb(192, 192, 69);
    flex-direction: column-reverse;
    margin-inline: -50px;
}
#about{
     display: flex;
    color: white;
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#hobbies{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 40px;
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#education{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact{
    display: flex;
    color: white;
    font-size: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    
}


.info:hover{
background-color: gray;
opacity: 0.5;
}
@media(max-width:1030px){

}
