body{
    background-color:  #f5f5f5;
}

h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: rgb(32, 28, 28);
}
nav{
    display: flex;
    flex-direction: row;
   background-color: white;
    padding: 20px;
    padding-left: 100px;
    padding-right: 100px;
    margin-inline: -100px;
    margin-top: -10px;
    justify-content: space-evenly;
}

.gallery-container{
    
    max-width: 100%;
    overflow: hidden;
   
    
}
.image-gallery{
    display: flex;
    transition: transform 0.3s ease;
    white-space: nowrap;
}
img {
    
    width: auto;
    height: 250px; /* Set the desired height for the images */
    margin-right: 10px; /* Add some spacing between images */
  }
  
#Me{
    display: flex;
    flex-direction: row;
    justify-content: right;
    height: 400px;
    width: 800px;

}
.text{
    display: flex;
    color: black;
}
#cato{
    width: 400px;
}
#insta{
    height: 40px;
    width: 40px;
}
#home{
    display: flex;
    background-color: #f5f5f5;
    justify-content: center;
    margin-inline: -50px;
    padding: 20px;
}
#about{
     display: flex;
    color: white;
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
#hobbies{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    font-size: 40px;
    margin: 100px;
    font-family: Arial, Helvetica, sans-serif;
}
#education{
    display: flex;
    align-items: center;
    flex-direction: column;
    color:white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#contact{
    display: flex;
    color: black;
    font-size: 20px;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;
    
}

.info:hover{
background-color: gray;
opacity: 0.5;
}
html {
    scroll-behavior: smooth;
  }
  